.container2{
 
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;



}

.container2 form{
  height: 520px;
  width: 360px;

  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;

  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.container2 form *{

  font-family: 'Poppins',sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}


label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.login-input1 input{
  margin-top: 15px;
  border: 1px solid black;
  height: 50px;
  width: 100%;
  color: black;
  border-radius: 10px;
  padding: 0px 10px;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 300;
}
.phoneInput{
  height: 50px;
  

  
}

.login-input2 input{
    margin-top: 2px;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 1px;
    font-size: 14px;
  
    font-weight: 300;}
::placeholder{
  color: black;

}
.container2 button{
  box-shadow: 0 0 40px rgba(143, 142, 145, 0.6);
  margin-top: 50px;
  width: 100%;
  height: 52px;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

.social{
  box-shadow:0 0 40px rgba(8,7,16,0.6);
margin-top: 30px;
display: flex;
}
.social div{
background: red;
width: fit-content;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgb(238, 98, 63);
color: white;
text-align: center;
}
.social div:hover{
background-color: gray;
}
.social .fb{
margin-left: 25px;
}
.social{
  margin-top: 40px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(226, 82, 82);
  background-color: rgb(226, 82, 82);
}
h4{
  align-items: center;
  margin-top: 8px;
  color: white;
  justify-content: center;
  margin-left: -25px;
}
h6{
  margin-top: 9px;
  margin-left: 22px;
  color: white;
}

.social2{
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  margin-top: 15px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(66 103 178);
  background-color: rgb(66 103 178);
}
h3{
  justify-content: center;
  margin-top: 8px;
  margin-left: 15px;
  color: white;
}

h5{
  color: white;
}
.container3{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;

}

.inputotp{
  margin: 5px;
  min-width: 50px;
  border: 1px solid black;
  display: flex;

  height: 60px;
  gap: 10px;
  border-radius: 10px;
}


.otp-logo{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 25%;
  left: 50%;
  border:3px solid green;
  background-color: white;
  height: 100px;
  color: green;
  padding: 34px 32px;
  border-radius: 70px;
  width: 100px;

}



