* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.navbar {
  top: 0;
  position: fixed; /* Fix the navbar to the top */
  left: 0;
  right: 0;
  height: 80px; /* Set a fixed height */
  /* Example color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it stays above the content */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px; /* Set a fixed height */
  background-color: #eee; /* Example color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it stays above the content */
}

.content {
  flex: 1;
  margin-top: 80px; 
  margin-bottom: 55px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  background-color: #f9f9f9; 
}


@media (max-width: 500px) {
  .content {
    margin-bottom: 55px; 
  }
}
