/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    
  }
  
  .app2{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header2 h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .header2 p {
    font-size: 16px;
    color: #666;
  }
  
  /* Form Container */
  .form-container2 {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form2{
    display: flex;
    flex-direction: column;
  }
  
  .form-group2{
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

 
  
  .form-buttons2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn2{
   background-color: #ccc;
    color: black;
  }
  
  .clear-btn2{
    background-color:#ccc;
    color: black;
  }
  
  button:hover {
    opacity: 0.9;
  }


  
  
  /* Responsive Styles */
 
  @media (max-width: 480px) {
    .header2 h1 {
      font-size: 20px;
    }
    .social-button{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    }

    .social-button i {
        margin-right: 8px;
        font-size: 16px;
      }
      .social-button.google {
        background-color: #db4437;
      }
      .social-button.facebook {
        background-color: #3b5998;
      }
  
    .header2 p {
      font-size: 14px;
    }
  }





  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;

  }
  .social-button i {
    margin-right: 8px;
    font-size: 16px;
  }
  .social-button.google {
    background-color: #db4437;
  }
  .social-button.facebook {
    background-color: #3b5998;
  }

